*.log\n*.pot\n*.pyc\n__pycache__\n*.bak\n*.py[cod]\n*.class\npip-log.txt\npip-delete-this-directory.txt\n.ipynb_checkpoints\n.python-version\ncelerybeat-schedule.*\n.env\n.venv\nenv/\nvenv/\nENV/\nenv.bak/\nvenv.bak/\n.mypy_cache/\n**/migrations\n*.DS_Store\n**/__pycache__\n**/.DS_Store\n.history
